nav{
	display: flex;
	justify-content: space-around;
	background-color: white;
	padding: 10px;
}

img{
	width: 100%;
}

.nav{
	justify-content: space-around;
	width: 1600px;
	height: 40px;
	position: fixed;
	background-color: white;
	padding: 10px;
	border: 5px;
	border-color: black;
	text-transform: uppercase;

}


.Container{
	display: block;
}

.firstLayer{
	display: block;
	width: 100%;
	height: 500px;
}

.firstLayer > img{
	padding-top: 35px;
	width: 600px;
	height: 400px;
}

.firstLayerText{
	float: right;
	font-size: 2em;
	padding: 30px;
}

.secondLayer{
	background-image: url("work.jpg");
	width: auto;
	height: 500px;
}

.secondLayerText{
	font-size: 2em;
	padding: 30px;
	float: right;
}


.thirdLayer{
	background-image: url("branding.jpg");
	width: auto;
	height: 500px;
}

.thirdLayerText{
	font-size: 2em;
	padding: 30px;
}


.fourthLayer{
	background-image: url("seo3.jpg");
	width: auto;
	height: 600px;
}

.fourthLayerText{
	font-size: 2em;
	float: right;
	color: yellow;
	padding: 30px;
}

.footerText{
	display: block;
	width: auto;
	height: 60px;
	background-color: #00001c;
	color: white;
	text-align: center;
	padding-top: 40px;
}

